/* Debugging UI */
.checkfix {
  position: fixed;
  right: 0;
  bottom: 0;
  font-size: 12px;
  z-index: 1000;
  background: #333;
  color: #fff;
  font-family: Arial;
  padding: 12px;
  opacity: 0.1;
}

.checkfix:hover {
  opacity: 1;
}