/* Mouse styles */

.mouse {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 49;
  pointer-events: none
}

.mouse_el {
  position: absolute;
  left: 2rem;
  top: -.8rem;
  overflow: hidden
}

.mouse_el .Awrite {
  white-space: nowrap
}

.mouse_el .Awrite-w {
  --dark: #F8F6F2;
  --light: #000
}