/* Custom Scrollbar */
.scrBar {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 600;
  opacity: 0.2;
}

.scrBar_prg {
  position: absolute;
  width: 3px;
  right: 0;
  top: 0;
  background: #000;
}