/* src/styles/components/scrollbar.pcss */

:root {
  --scrollbar-width: 3px;
  --scrollbar-color: #000;
  --scrollbar-z-index: 600;
  --scrollbar-opacity: 0.2;
}

/* Custom Scrollbar */
.scrBar {
  position: fixed;
  inset-inline-end: 0;
  inset-block: 0;
  z-index: var(--scrollbar-z-index);
  opacity: var(--scrollbar-opacity);
  
  &_prg {
    position: absolute;
    width: var(--scrollbar-width);
    inset-inline-end: 0;
    inset-block-start: 0;
    background: var(--scrollbar-color);
  }
}