#gl,
#glLoader,
#glBg {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
#gl { z-index: 20 }
#glLoader { z-index: 32 }
#glBg { z-index: 0 }

.glPlay {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
}

.canvas {
  pointer-events: none;
  position: fixed;
  left: 0;
  top: 0;
}