/* Global utilities */

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

.c-vw {
  margin: 0 auto;
  width: 100%;
  padding-left: var(--pgrid);
  padding-right: var(--pgrid);
}

.c-vw-s {
  margin: 0 auto;
  width: 100%;
  padding-left: var(--sgrid);
  padding-right: var(--sgrid);
}

.c-fs {
  margin: 0 auto;
  width: 100%;
  padding-left: var(--fgrid);
  padding-right: var(--fgrid);
}