.home .footer .cnt_lk .Awrite {
  --dark: #8A8A8A;
  --light: #000
}

.home .footer .cnt_lk .Awrite i svg path {
  fill: #f8f6f2
}

.home .footer .cnt_cr .Awrite:first-child {
  --dark: #8A8A8A;
  --light: #F8F6F2
}

.home .footer .cnt_cr .Awrite:last-child {
  --dark: #F8F6F2;
  --light: #000
}

.home .footer .cnt_cp {
  --dark: #8A8A8A;
  --light: #F8F6F2
}