// src/styles/index.pcss

@import './variables.pcss';
@import './base.pcss';
@import './layout.pcss';
@import './typography.pcss';
@import './navigation.pcss';
@import './home.pcss';
@import './footer.pcss';
@import './animations.pcss';
@import './buttons.pcss';
@import './effects.pcss';
@import './media.pcss';
@import './sections.pcss';
@import './titles.pcss';