// src/styles/variables.pcss

:root {
  /* Colors */
  --c-bg: #f4f4f4;
  --c-black: #111;
  --c-white: #fff;
  --c-grey: #c5c5c5;

  /* Sizing */
  --gutter: 2.4rem;
  --border-radius: 0.3rem;

  /* Font Sizes */
  --fs-tt1: 4rem;
  --fs-tt2: 2.4rem;
  --fs-tt3: 1.8rem;

  /* Animation */
  --ease-default: cubic-bezier(0.77, 0, 0.175, 1);
}