/* Smooth Scrolling (Lenis) */
html.lenis {
  height: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }
  
  &:scrollbar {
    display: none;
  }
}

.lenis {
  &.lenis-smooth {
    scroll-behavior: auto;
    
    [data-lenis-prevent] {
      overscroll-behavior: contain;
    }
  }
  
  &.lenis-stopped {
    overflow: hidden;
  }
  
  &.lenis-scrolling iframe {
    pointer-events: none;
  }
}