/* Misc HTML elements */
hr {
  box-sizing: content-box;
  height: 0
}

pre {
  overflow: auto;
}

figure {
  margin: 1em 40px;
}

[hidden],
template {
  display: none;
}

/* Lists and tables */

ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}