/* Media (image and svg) */

img {
  border: 0;
  height: auto;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}

svg:not(:root) {
  overflow: hidden;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}